body {
    padding-top: 100px;
    overflow-x: hidden;

  }

.navbar-nav .nav-link.activenav {
    color: #FFC905 !important;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #FFC905;
    margin-bottom: 2px;
}

.row {
    padding: 20px;
  }
