/* intro */
section.intro {
    background: #fff;
    padding: 20px 0;
}

/* intro end */

/* Akhir Masa */
.embed-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}